html {
    background-color: antiquewhite;
}

body {
    background-color: antiquewhite;
}

.accordion {
  max-width: 100%;
}

#video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}