html {
    background-color: antiquewhite;
}

body {
    background-color: antiquewhite;
}

#spinner {
    object-fit: cover;
    object-position: right center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: rotateImage 5s linear infinite; 
}

@keyframes rotateImage {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }